<template>
         <div>
        <timeline-component/>
            <div class="row">
                <div class="col-lg-6">
                    <transition enter-active-class="animated fadeIn">
                        <quick-support-component/>
                    </transition>
                </div>
                <div class="col-lg-6 col-md-6">
                    <transition enter-active-class="animated fadeIn">
                        <form-status-component/>
                    </transition>
                </div>
            </div>
        </div>
</template>

<script>
import QuickSupportComponent from "../dashboard/QuickSupportComponent.vue";
import FormStatusComponent from "../dashboard/FormStatusComponent.vue";

import { mapGetters } from "vuex";

export default {
  name: "Dashboard",
  components: { FormStatusComponent, QuickSupportComponent }
};
</script>

<style>
</style>
