<template>
  <div class="col-lg-10 mt-5 mx-auto">
    <card-component>
      <div slot="title">My Account</div>
      <div class="form-row">
        <div class="col-md-3">
          <!-- User Profile Image -->
          <div class="">
            <profile-pic-upload :user="user"></profile-pic-upload>
          </div>

        </div>
        <div class="col ml-2">
          <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
              <button @click="selectedTab = 1"
                      class="nav-link"
                      :class="{ 'active' : selectedTab == 1}">Personal Info</button>
            </li>
            <li class="nav-item">
              <button class="nav-link"
                      @click="selectedTab = 2"
                      :class="{ 'active' : selectedTab == 2}">Password</button>
            </li>
          </ul>
          <personal-info v-if="selectedTab === 1" />
          <change-password v-if="selectedTab === 2"/>
          
        </div>
      </div>

    </card-component>

  </div>
</template>

<script>
import { mapState } from "vuex";

// Components
import profilePicUpload from '../dashboard/ProfilePicUpload.vue'
import changePassword from "../dashboard/ChangePassword.vue";
import personalInfo from '../dashboard/PersonalInfo.vue'

export default {
  components: {
    changePassword,
    personalInfo,
    profilePicUpload
  },
  name: "MyAccount",
  data() {
    return {     
      selectedTab: 1,
      selectedFile: null,
      uploadNew: false,   
    };
  },
  computed: {
    ...mapState({
      address: state => state.user.address,
      user: "user"
    }),   
  },
  methods: {   
    
  },
  
};
</script>

<style lang='scss' scoped>
h1 {
  color: #607d8b;
  text-transform: capitalize;
}


</style>