<template>
    <div>
<timeline-component></timeline-component>   
    <div class="row">
        <section class="col-md-12 mb-2">
            <transition enter-active-class="animated fadeIn">
                <button class="btn btn-primary"  role="button" @click='$router.go(-1)' ><i class="fas fa-chevron-circle-left"></i> Back</button>
            </transition>
        </section>
        <section class="col-lg-8">
            <transition enter-active-class="animated fadeIn">
               <support-component/>
            </transition>
        </section>

        <section class="col-lg-4 col-md-6" >
            <transition enter-active-class="animated fadeIn">
              <cost-component class="cost-breakdown" ></cost-component> 
            </transition>  
        </section>
    </div>
</div>
</template>

<script>
export default {};
</script>

<style>
</style>
