<template>
  <div>
    <button type="button"
            class="ml-auto btn btn-default btn-primary my-3 btn--save">Attach
      Forms</button>

    <div class="modal">
      <ul>
        <li v-for="form in forms"
            v-text="form.name"
            :key="form.key"></li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            forms: {}
    }
   
    },
     mounted(){
        Nova.request().get('/nova-vendor/RegistrationTool/forms/all').then( r =>{
            console.log(r.data);
            
        })
     }
}
</script>

