<template>
  <div>

    <div class="border-b border-50 mb-3 flex items-center">
      <h3 v-if="completeForms != totalForms"
          class="font-bold textxl text-80 flex-1">Stats:</h3>
      <h3 v-else class="font-bold textxl text--success text-80 flex-1"
          > All {{totalForms}} forms complete</h3>
      <div v-if="completeForms != totalForms"
      class="flex flex-1">
        <p class="flex-1 text-80">Total Forms:
          {{totalForms}}</p>
        <p class="flex-1 text-80 text--success">Completed
          Forms: {{completeForms}}</p>
        <div class="flex-1 text-80 "
             :class="{'text--danger' : errorForms }">Forms with Error:
          {{errorForms}}</div>
      </div>
          <attach-forms/>

    </div>
    <!-- Form Cards -->
    <div v-for="form in sortedForms"
         :key="form.id"
         class="flex flex-wrap border-b border-40 from-row">
      <div class="w-1/5 py-4">
        <h4 class="font-bold textxl text-80">{{form.name}}:</h4>
      </div>
      <div class="w-1/5 py-4">
        <p-check v-model="form.status.completed"
                 focus
                 color="success"
                 class="p-default p-smooth p-curve p-svg p-fill"><svg slot="extra"
               class="svg svg-icon"
               viewBox="0 0 20 20">
            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                  style="stroke: white;fill:white"></path>
          </svg>Complete</p-check>
      </div>
      <div class="w-1/5 py-4">
        <p-check v-model="form.status.error"
                 focus
                 color="danger"
                 class="p-default p-smooth p-curve p-svg p-fill"><svg slot="extra"
               class="svg svg-icon"
               viewBox="0 0 20 20">
            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                  style="stroke: white;fill:white"></path>
          </svg>Error</p-check>
        <transition name="scale">
          <textarea class="error-message mt-3 p-2"
                    name="error-message"
                    rows="7"
                    cols="33"
                    placeholder="Enter error message"
                    v-if="form.status.error"
                    v-model="form.status.error_message">

        </textarea>

        </transition>
      </div>

    </div>
    <div class="bg-30 flex px-8 py-4">
      <button type="button"
              class="ml-auto btn btn-default btn-primary mr-3 btn--save"
              :class="[ dirty ?'opacity-100' : 'opacity-0']"
              :disabled='!dirty'
              @click="saveClicked">Save</button>
    </div>

  </div>
</template>

<script>
export default {
  name: "RegistrationForms",
  props: ["resourceName", "resourceId", "field"],
  data() {
    return {
      forms: {},
      loading: true,
      dirty: false
    };
  },
  computed: {
    totalForms() {
      return this.forms.length;
    },
    errorForms() {
      return _.filter(this.sortedForms, o => {
        return o.status.error;
      }).length;
    },
    completeForms() {
      return _.filter(this.sortedForms, o => {
        return o.status.completed;
      }).length;
    },
    sortedForms() {
      let data = _.sortBy(this.forms, ["name"]);

      return data;
    },
    autoSave() {
      return _.debounce(function() {
        this.updateForms();
      }, 5000);
    }
  },
  watch: {
    sortedForms: {
      handler() {
        if (!this.loading) {
          this.autoSave();
        }
        if (!this.loading && !this.dirty) {
          this.dirty = true;
        }
      },
      deep: true
    }
  },
  methods: {
    updateForms() {
      Nova.request()
        .post(
          `/nova-vendor/RegistrationTool/${this.resourceId}/update-forms`,
          this.sortedForms
        )
        .then(r => {
          this.$toasted.show("Forms Updated", { type: "success" });
          this.dirty = false;
        });
    },
    saveClicked() {
      this.autoSave.cancel();
      this.updateForms();
    }
  },
  mounted() {
    Nova.request()
      .get(`/api/registration/${this.resourceId}/forms`)
      .then(r => {
        this.forms = r.data;
        this.$nextTick(() => {
          this.loading = false;
        });
      })
      .catch(e => {
        console.log(e);
      });
  }
};
</script>


