<template>
   <div class="card">
        <div class="card-header">
            <div class="title">
                <h3><slot name="title"></slot></h3>
            </div>
            <div class="d-flex flex-column text-center align-self-center">
                <slot name="title-right"></slot>
            </div>
        </div>
        <div class="card-body clearfix">
            <slot name="card-body"></slot>
            <slot></slot>
        </div> 
        <slot name="no-card-body"></slot>      
    </div>

</template>

<script>
    export default {
        mounted() {
       
        }
    }
</script>
