<template>
     <div class="header">
            <div class="toggle-button"><i class="fas fa-bars"></i></div>



            <button class="user-account-header" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      
      <img :src="profilePic()" alt="" class="user-image">
      {{user.first}}<span>&nbsp;<i class="fas fa-chevron-down"></i></span>
    </button>
            <div class="dropdown-menu dropdown-menu-right">
        
                <router-link to="/my-account" class="dropdown-item"><i class="fas fa-user mr-2"></i> My Account</router-link> 
                <a href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt mr-2"></i> Logout</a>

            </div>
        </div>


</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState(["user"])
  },
  methods:{
    profilePic(){
      if(!this.user.avatar) return '/images/default_user_image.png'
      return this.user.avatar
    }
  }
};
</script>

<style lang='scss'>
// ---end of user account in header

// --------------------------------------------end of header
</style>
