<template>
  <button @click="$emit('click')" class="btn btn-primary"
          :disabled='loading'>
    <slot>Submit</slot><span v-if="loading"><i class="fa fa-spinner fa-spin fa-lg ml-2"></i></span></button>
</template>

<script>
export default {
    props: {
        loading: Boolean,
    },
 
};
</script>

<style>
</style>
