@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body {
  height: 100%;
  margin: 0px;
  font-family: "Open Sans", sans-serif; }

.header {
  position: relative;
  background: #475159;
  height: 50px;
  width: 100%;
  z-index: 2; }

.sidebar {
  position: relative;
  background: yellow;
  width: 20vw;
  height: 100%;
  margin-top: -50px;
  z-index: 1; }

.sidebar-container {
  padding-top: 50px;
  text-align: right;
  color: white; }

.trip-title {
  margin-left: auto;
  margin-left: auto;
  width: auto;
  border: 2px solid green;
  padding-right: 20px; }
  .trip-title h1 {
    font-size: 1.9em;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.08em;
    text-transform: uppercase; }
  .trip-title h2 {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.08em;
    text-transform: uppercase; }

.content {
  background: red; }

/*# sourceMappingURL=app.css.map */