// Nova Tool CSS
 $pretty--color-default:#bdc3c7;
 $pretty--color-primary:#428bca;
 $pretty--color-info:#5bc0de;
 $pretty--color-success:#23d160;
 $pretty--color-warning:#f0ad4e;
 $pretty--color-danger:#d9534f;
 $pretty--color-dark:#5a656b;

 $primary: $pretty--color-primary;

@import '~pretty-checkbox/src/pretty-checkbox.scss';

.form-row{
    transition: all .2 ease-out;
}

.error-message{
    border: 2px solid #8888884a;
    border-radius: 8px;
    outline: none;
    transition: box-shadow .3s, border .1s ease-out;
    &:focus{
        box-shadow: 0 0 22px #5a656bad;
        border: 2px solid #428bca;
    }
}

.btn--save{
    transition: opacity .2s ease-out;
}

.scale-enter-active {
    transform-origin: top;
    transition: all .2s ease-out;
}

.scale-enter {
    max-height: 0;
    transform: scaleY(0);
}
.scale-leave-to{
    transform: scaleY(0);
}
.scale-leave-active{
    transform-origin: top;
     transition: all .2s ease-in;
}

.text--danger{
    color: $pretty--color-danger;
}
.text--success{
    color: $pretty--color-success;
}

.bg--blur {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    filter: blur(20px);
    z-index: 19;

}

.modal {
    position: absolute;
    background: rgb(194, 194, 194);
    height: 50vh;
    width: 50vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

}