<template>
    <div>
        <heading class="mb-6">Royal Servants man</heading>

        <card class="bg-90 flex flex-col items-center justify-center" style="min-height: 300px">
           sup my dude
        </card>
    </div>
</template>

<script>
export default {
    name: 'RegistrationForms',
    data(){
        return{
            forms: 'sup mye',
            chicken: null,
        }
    },
    mounted() {
        console.log('sup Im the tool dud e')
    },
}
</script>

<style>
/* Scoped Styles */
</style>
