<template>
  <div>

    <form class='col-md-7'
          @submit.prevent>

      <div class="form-group col">
        <label for="current">Current Password</label>
        <input type="password"
               class="form-control"
               autocomplete="current-password"
               :class="{'is-invalid': errors.has('current')  }"
               name="current"
               v-model="form.current">
        <div class="invalid-feedback">
          {{errors.first('current')}}
        </div>
      </div>
      <div class="form-group col">
        <label for="password">New Password</label>
        <input type="password"
               autocomplete="new-password"
               v-validate="'required|min:6'"
               placeholder="Enter New Password"
               class="form-control"
               :class="{'is-invalid': errors.has('password')  }"
               @focus="errors.remove('password')"
               ref="password"
               name="password"
               v-model="form.password">
        <div class="invalid-feedback">
          {{ errors.first('password') }}
        </div>
      </div>
      <div class="form-group col">
        <input type="password"
               placeholder="Retype New Password"
               v-validate="'required|confirmed:password'"
               class="form-control"
               data-vv-validate-on="input"
               v-model="form.password_confirmation"
               :class="{ 'is-invalid' :  errors.has('password_confirmation')}"
               name="password_confirmation">
        <div class="invalid-feedback">
          Password must match
        </div>
      </div>
      <submit-button :loading="isLoading" class="float-right"
                     @click="changePassword">Change Password</submit-button>

    </form>
  </div>
</template>

<script>
export default {
  $_veeValidate: {
    validator: "new" // give me a new validator each time.
  },
  name: "Change-Password",
  data() {
    return {
      isLoading: false,
      form: {}
    };
  },
  methods: {
    changePassword() {
      this.isLoading = true;
      axios
        .post("api/user/change-password", this.form)
        .then(() => {
          this.resetForm();
        })
        .catch(err => {
          console.error("Form Error and catch running");
          this.isLoading = false;
          this.$setErrorsFromResponse(err.response.data);
        });
    },
    resetForm() {
      this.form = {};
      this.errors.clear()
      this.isLoading = false;
      this.$noty.success("Password Updated", {
        timeout: 1500
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.password__form {
  padding-left: 50px;
}
span {
  padding-left: 1em;
}
</style>
