<template>
<card-component>  
    <div slot="title">Cost:</div>
        <table class="table table-sm cost-breakdown-table">
            <thead>
                <col style="width: 90%">
                <col style="width: atuo">
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col" style='text-align: left'>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in tripCost.items" v-if="item.cost > 0" :key="item.id">
                    <th scope="row">{{ item.name }}:</th>
                        <td>{{ item.cost | currency('$',0) }}</td>
                </tr> 
            </tbody>               
            <tfoot>
                <th scope='row'>Total:</th>
                <td>{{ tripCost.total | currency('$',0) }}</td>
            </tfoot>
        </table>  
 
</card-component>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["tripCost"])
  }
};
</script>
