<template>
    <portal to='modal'>
        <transition name='fade'>       
        <div class="form__error-modal" v-if="isVisible" @keyup.esc='isVisible = false'>
            <card-component class="error__modal">
                <div slot="title">Email Admin Staff</div>
                <!-- Form for sending the email -->
                <div v-if="!sent">
                    <p class="modal__intro">Fill out this form to start an email converstaion with our admin staff about the current errors with
                        the forms that have been submitted.</p>
                   
                    <div class="form__errors">
                        <div class="error" v-for="form in forms" v-if="form.error" :key="form.id">
                            <h3>{{ form.name }}:</h3>
                            <!-- TODO::Format errors so that they are pretty  -->
                            <p v-if="form.error_message == null">Please contact our office to resolve an error on your {{
                                form.name }} form.</p>
                            <p v-else v-text="form.error_message" />
                        </div>
                    </div>

                    <b-form @submit.prevent="sendEmail">

                    
                            <b-textarea id="response" ref='response' :disabled='isSending' placeholder="Enter response...." :rows="3" :max-rows="6" v-model="form.body" required>
                            </b-textarea>
                            <button type="button" class="btn btn-primary btn-lg float-right my-2" role="submit" @click="sendEmail" v-show="!isSending">Send
                            Email</button>
                            <button class="btn btn-success btn-lg my-2 float-right" disabled v-show="isSending"><i class="fas fa-circle-notch fa-spin" ></i> Sending...</button>
                        <button type="button" class="btn btn-outline-primary  btn-lg float-right my-2 mr-3" role="submit"
                            @click="toggle()" v-if="!isSending">Cancel</button>
                    </b-form>

                </div>
                <div v-else @click="toggle">
                    <h3>Thanks!</h3>
                    <p>Our staff will respond to the email that we have on file for you.</p>
                    
                </div>
                

            </card-component>

        </div>
        </transition>
        <portal to='error-modal-button'>
            <!-- Button is sent to the form status components to control if the modal is open or closed -->
            <button type="button" class="btn btn-warning btn-lg float-right my-2" @click="toggle()">Email Staff</button>

        </portal>


    </portal>

</template>

<script>
import { mapState } from "vuex";

export default {
  name: "errorModal",
  data() {
    return {
      isVisible: false,
      form: {},
      isSending: false,
      sent: false
    };
  },
  computed: {
    ...mapState(["forms", "reg"]),
    formsWithErrors() {
      return _.filter(this.forms, "error");
    }
  },
  methods: {
    toggle() {
      this.form = {};
      this.isVisible = !this.isVisible;
    },
    sendEmail() {
      this.isSending = true;

      axios
        .post("/api/mail/error-response", {
          message: this.form.body,
          forms: this.formsWithErrors,
          userId: this.reg.user_id
        })
        .then(() => {
          this.doneSending();
        })
        .catch(() => {
          this.isSending = false;
          this.toggle();
        });
    },
    doneSending() {
      console.log("done is triggered");
      this.sent = true;
      this.form = {};
      this.isSending = false;
      setTimeout(() => {
        this.sent = false;
        this.isVisible = false;
      }, 2000);
    }
  }
};
</script>

<style lang='scss' scoped>
.modal__intro {
  padding-left: 10px;
  text-indent: 0;
}
.form__errors {
  background: #e5e5e5;
  padding: 5px 0;
  margin-bottom: 10px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.form__error-modal {
  position: fixed;
  background: rgba($color: #e5e5e5, $alpha: 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 22;
}

.error__modal {
  max-width: 45vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h3 {
  font-size: 1.2rem;
  padding-left: 0.4em;
  color: #607d8b;
  font-weight: bold;
}
p {
  text-indent: 0.5em;
  padding-left: 20px;
  font-size: 1rem;
}
</style>