<template>
    <card-component>
        <template slot="title">Forms</template>

        <template slot="no-card-body">
            <div class="form-card-body d-flex flex-wrap justify-content-between ">          
                
                
                <div class="form-status-box" :class="formStatusBackground(form)" v-for="form in forms" :key="form.id">
                        <div class="form-title ">                        
                            <h2>{{ form.name }}:</h2>
                            <p>Due: {{form.due_date}}</p>
                        </div>
                        <div class="form-status-icon">
                            <i class="fa-3x fa-fw" :class="formStatusIcon(form)"></i>
                        </div>
                    </div>                     
                    
                    
            <div class="form-card-error container" v-if="formErrors">
                <div class="row">
                    <div class="title col-sm-auto py-2">
                        <h2><span class=" pr-2"><i class="fas fa-exclamation-triangle fa-sm fa-fw"></i></span>Form errors:
                        </h2>
                    </div>

                    <div class="error-body col-12 py-1" v-for="form in forms" v-if="form.error" :key="form.id">
                        <h3>{{ form.name }} Error:</h3>
                        <!-- Default error message -->
                        <!-- TODO:: What is the default message?? -->
                        <p v-if="form.error_message == null">Please contact our office to resolve an error on your {{ form.name }} form.</p>
                        <p v-else v-text="form.error_message"/>

                    </div>                   
                </div>
                <portal-target name="error-modal-button"></portal-target>
            <error-modal/>
            </div>
            
        </div>
        </template>
           
       </card-component>
</template>

<script>
import { mapState } from "vuex";
import errorModal from "../dashboard/errorModal.vue";

export default {
  components: { errorModal },
  data() {
    return {
      formErrors: false
    };
  },
  computed: {
    ...mapState(["forms"])
  },

  methods: {
    checkFormErrors() {
      /**
       * Checks to see if any of the forms has an error if it does
       * then it will display the form error section down below.
       */
      this.forms.forEach(form => {
        if (form.error == 1) {
          this.formErrors = true;
        }
      });
    },

    formStatusIcon(form) {
      return {
        // Form is Complete no errors
        "fas fa-check-square": form.completed && !form.error,
        // Form incomplete
        "far fa-square": !form.completed && !form.error,
        // Form has error
        "fas fa-exclamation-triangle": form.error
      };
    },
    formStatusBackground(form) {
      return {
        // Form has error
        "form-alert": form.error,
        // normal background
        "form-background": !form.error
      };
    }
  },

  mounted() {
    this.checkFormErrors();
  }
};
</script>

<style lang="scss" scoped>
</style>

