<template>
    <card-component>
           <template slot='title'>Support</template>
           <template slot="title-right" v-if="percentRaised<100" >
                <h4>{{ leftToRaise | currency('$',0)}}</h4>
                <h5>left to raise</h5>
           </template>
           <template>
               <div class="progress mt-2">
                <div class="progress-bar bg-secondary" role="progressbar"  :style="{ width: percentRaised + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-counter" :class="{'progress-counter_right' : this.progressCheck()}"  >
                        <h3 :style="{left: percentRaised + '.9%'}">{{ percentRaised }}%</h3>
                    </div>
                </div>
            </div>
            <div class="recent-donations">
                <div class="raised-so-far d-flex justify-content-between align-items-center my-4">
                    <div class="raised-title">
                        <h5><span class="icon-padding"><i class="fas fa-dollar-sign fa-fw"></i></span>All Donations:
                        </h5>
                    </div>
                    <div class="d-flex flex-column">
                        <h4 class="text-right">{{ donations.total | currency('$',0) }}</h4>
                        <h5>raised so far</h5>
                    </div>
                </div>       

                <table class="table table-sm mb-4 support-table">
                    <thead class="">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="reference-number-col">Reference Number</th>
                        </tr>
                    </thead>
                    <tbody >
                            <tr v-for="donation in donations.recieved" :key='donation.id'>
                                <td>{{ donation.name }}</td>
                                <td>{{ donation.amount | currency('$',0) }}</td>
                                <!-- <td>{{ donation.donation_date | moment('M/D/YY')}}</td> -->
                                <td>{{donation.donation_date | moment('M/D/YY') }}</td>
                                <td class="reference-number-col">{{ donation.reference_number }}</td>
                            </tr>                     
                    </tbody>
                </table>
            </div>
           </template>
       </card-component>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  methods: {
    progressCheck() {
      if (this.percentRaised <= 7) {
        return true;
      }
    }
  },

  computed: {
    ...mapGetters(["donations", "tripCost"]),

    percentRaised() {
      var percent = (
        (this.donations.total / this.tripCost.total) *
        100
      ).toFixed(0);

      if (percent < 100) {
        return percent;
      } else if (percent > 100) {
        return "100";
      }
    },
    leftToRaise() {
      return this.tripCost.total - this.donations.total;
    }
  },
  beforeCreate() {},

  mounted() {}
};
</script>

<style lang="scss">
</style>

