<template>
  <form novalidate
        @submit.prevent>
    <fieldset :disabled="!isEditing || isLoading">
      <div class="form-row">

        <div class="">

          <label for="first">Name</label>

          <div class="form-row">
            <div class="form-group col">
              <input v-validate="'required'"
                     type="text"
                     class="form-control"
                     v-model="form.first"
                     name="first"
                     placeholder="First name"
                     required
                     ref="first"
                     :readonly='!isEditing'>
            </div>

            <div class="form-group col-md-3"
                 placeholder="Middle Name"
                 required>
              <input v-validate="'required'"
                     v-model="form.middle"
                     class=""
                     class="form-control"
                     type="text"
                     name="middleName"
                     id="middleName"
                     placeholder="Middle Name">
            </div>
            <div class="form-group col">
              <input v-validate="'required'"
                     type="text"
                     v-model="form.last"
                     class="form-control"
                     name="last"
                     placeholder="Last name"
                     required>
              <small v-if="errors.has('last')"
                     class="text-danger"
                     v-text="errors.first('last')"></small>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input v-validate="'email|required'"
                   class="col-md-6 form-control"
                   type="email"
                   name="email"
                   id="email"
                   placeholder="Email"
                   v-model="form.email">
            <small v-if="errors.has('email')"
                   class="text-danger"
                   v-text="errors.first('email')"></small>
          </div>

          <div class="form-group">
            <label for="address_1">Address</label>
            <input type="text"
                   class="form-control"
                   id="address_1"
                   v-model="form.address_1"
                   :class="{'is-invalid': errors.has('address_1')  }"
                   placeholder="1234 Main St">
            <div class="invalid-feedback block"
                 v-if="errors.has('address_1')">
              {{errors.first('address_1')}}
            </div>
          </div>
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   v-model="form.address_2"
                   id="address2"
                   placeholder="Address 2">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="form-city">City</label>
              <input type="text"
                     v-model="form.city"
                     class="form-control"
                     :class="{'is-invalid': errors.has('city')  }"
                     id="form-city">
              <div class="invalid-feedback">
                {{errors.first('city')}}
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="form-state">State</label>
              <select id="form-state"
                      v-model="form.state"
                      class="form-control">
                <option selected>Choose...</option>
                <option v-for="state in stateOptions"
                        :value="state.name"
                        :key="state.abbreviation"
                        v-text="state.name"></option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="form-zip">Zip</label>
              <input type="text"
                     v-model="form.zip_code"
                     :class="{'is-invalid': errors.has('zip_code')  }"
                     class="form-control"
                     id="form-zip">
                     <div class="invalid-feedback">
                {{errors.first('zip_code')}}
              </div>
            </div>
          </div>

        </div>
      </div>

    </fieldset>
    <div v-if="isEditing">
      <submit-button @click="updateInfo"
                     class="btn-lg my-2 btn-success float-right"
                     :loading="isLoading">Save</submit-button>
      <button type="button"
              class="btn btn-outline-danger btn-lg float-right my-2 mr-2"
              @click="toggle()"
              v-show="!isLoading">Cancel</button>
    </div>
    <button v-else
            class="btn btn-primary float-right btn-lg my-2"
            @click="toggle()"><span><i class="fas fa-pencil-alt fa-flip-horizontal p-1 mr-2"></i></span>Edit</button>
  </form>
</template>

<script>
import { mapState } from "vuex";
import places from "places.js";

// Components
import changePassword from "../dashboard/ChangePassword.vue";

export default {
  name: "Personal-Info",
  $_veeValidate: {
    validator: "new" // give me a new validator each time.
  },
  components: {
    changePassword
  },

  data() {
    return {
      form: {
        first: user.first,
        middle: user.middle,
        last: user.last,
        address_1: user.address_1,
        address_2: user.address_2,
        city: user.city,
        state: user.state,
        zip_code: user.zip_code,
        email: user.email
      },
      isLoading: false,
      selectedTab: 1,
      selectedFile: null,
      uploadNew: false,
      isEditing: false,
      stateOptions: [
        {
          name: "Alabama",
          abbreviation: "AL"
        },
        {
          name: "Alaska",
          abbreviation: "AK"
        },
        {
          name: "American Samoa",
          abbreviation: "AS"
        },
        {
          name: "Arizona",
          abbreviation: "AZ"
        },
        {
          name: "Arkansas",
          abbreviation: "AR"
        },
        {
          name: "California",
          abbreviation: "CA"
        },
        {
          name: "Colorado",
          abbreviation: "CO"
        },
        {
          name: "Connecticut",
          abbreviation: "CT"
        },
        {
          name: "Delaware",
          abbreviation: "DE"
        },
        {
          name: "District Of Columbia",
          abbreviation: "DC"
        },
        {
          name: "Federated States Of Micronesia",
          abbreviation: "FM"
        },
        {
          name: "Florida",
          abbreviation: "FL"
        },
        {
          name: "Georgia",
          abbreviation: "GA"
        },
        {
          name: "Guam",
          abbreviation: "GU"
        },
        {
          name: "Hawaii",
          abbreviation: "HI"
        },
        {
          name: "Idaho",
          abbreviation: "ID"
        },
        {
          name: "Illinois",
          abbreviation: "IL"
        },
        {
          name: "Indiana",
          abbreviation: "IN"
        },
        {
          name: "Iowa",
          abbreviation: "IA"
        },
        {
          name: "Kansas",
          abbreviation: "KS"
        },
        {
          name: "Kentucky",
          abbreviation: "KY"
        },
        {
          name: "Louisiana",
          abbreviation: "LA"
        },
        {
          name: "Maine",
          abbreviation: "ME"
        },
        {
          name: "Marshall Islands",
          abbreviation: "MH"
        },
        {
          name: "Maryland",
          abbreviation: "MD"
        },
        {
          name: "Massachusetts",
          abbreviation: "MA"
        },
        {
          name: "Michigan",
          abbreviation: "MI"
        },
        {
          name: "Minnesota",
          abbreviation: "MN"
        },
        {
          name: "Mississippi",
          abbreviation: "MS"
        },
        {
          name: "Missouri",
          abbreviation: "MO"
        },
        {
          name: "Montana",
          abbreviation: "MT"
        },
        {
          name: "Nebraska",
          abbreviation: "NE"
        },
        {
          name: "Nevada",
          abbreviation: "NV"
        },
        {
          name: "New Hampshire",
          abbreviation: "NH"
        },
        {
          name: "New Jersey",
          abbreviation: "NJ"
        },
        {
          name: "New Mexico",
          abbreviation: "NM"
        },
        {
          name: "New York",
          abbreviation: "NY"
        },
        {
          name: "North Carolina",
          abbreviation: "NC"
        },
        {
          name: "North Dakota",
          abbreviation: "ND"
        },
        {
          name: "Northern Mariana Islands",
          abbreviation: "MP"
        },
        {
          name: "Ohio",
          abbreviation: "OH"
        },
        {
          name: "Oklahoma",
          abbreviation: "OK"
        },
        {
          name: "Oregon",
          abbreviation: "OR"
        },
        {
          name: "Palau",
          abbreviation: "PW"
        },
        {
          name: "Pennsylvania",
          abbreviation: "PA"
        },
        {
          name: "Puerto Rico",
          abbreviation: "PR"
        },
        {
          name: "Rhode Island",
          abbreviation: "RI"
        },
        {
          name: "South Carolina",
          abbreviation: "SC"
        },
        {
          name: "South Dakota",
          abbreviation: "SD"
        },
        {
          name: "Tennessee",
          abbreviation: "TN"
        },
        {
          name: "Texas",
          abbreviation: "TX"
        },
        {
          name: "Utah",
          abbreviation: "UT"
        },
        {
          name: "Vermont",
          abbreviation: "VT"
        },
        {
          name: "Virgin Islands",
          abbreviation: "VI"
        },
        {
          name: "Virginia",
          abbreviation: "VA"
        },
        {
          name: "Washington",
          abbreviation: "WA"
        },
        {
          name: "West Virginia",
          abbreviation: "WV"
        },
        {
          name: "Wisconsin",
          abbreviation: "WI"
        },
        {
          name: "Wyoming",
          abbreviation: "WY"
        }
      ]
    };
  },
  computed: {
    ...mapState({
      address: state => state.user.address,
      user: "user"
    }),
    isFormDirty() {
      return Object.keys(this.fields).some(key => this.fields[key].dirty);
    }
  },
  methods: {
    toggle() {
      this.$refs.first.focus();
      this.isEditing = !this.isEditing;
    },
    resultSelected(e) {
      let selected = e.suggestion;

      this.form.address_1 = selected.name;
      this.form.state = selected.administrative || "";
      this.form.city = selected.city || "";
      this.form.zip_code = selected.postcode || "";
    },
  
    updateInfo() {
      this.isLoading = true;
      let payload = this.form;

      payload.id = this.user.id;
      axios
        .post("api/user/update", payload)
        .then(() => {
          this.updateSuccess();
        }).then(()=>{
          console.log('seccond then');
          
          this.errors.clear()
        })
        .catch(err => {
          console.error("Something is wrong with form error");
          this.isLoading = false;
          this.$setErrorsFromResponse(err.response.data);
        });
    },
    updateSuccess() {
      this.$noty.success("Info Updated", {
        timeout: 1500
      });
      this.isLoading = false;
      this.isEditing = false;
      if(this.form.first != this.user.first)
      this.$store.commit("updateLocalFirstName", this.form.first);
    }
  },
  mounted() {
    const placesAutocomplete = places({
      appId: "plB8ODHTLWEV",
      apiKey: "c21b278b41f456e0e89b990663defd3e",
      container: document.querySelector("#address_1"),
      type: "address",
      countries: ["US", "CA"],
      templates: {
        value: function(suggestion) {
          return suggestion.name;
        }
      }
    });

    placesAutocomplete.on("change", e => this.resultSelected(e));
  }
};
</script>

<style scoped>
.block {
  display: block;
}
</style>
