<template>
  <div>
    <div class="profile-picture-container"
         @click="onSelect">
      <img :src="profilePic"
           class="mb-3"
           alt="">
      <div class="btn--upload" v-if="this.user.avatar">
        <label for="file" ><i class="fas fa-pencil-alt fa-2x"></i></label>

      </div>
    </div>
    <input type="file"
           @change="onfileSelected()"
           ref="file"
           name="file"
           accept="image/*"
           hidden>
      <transition name="fade">
      <button v-if="!this.user.avatar" @click="onSelect" class="btn-primary btn">Upload Picture</button>
      </transition>
  </div>
</template>

<script>
export default {
  props: {
    user: Object
  },
  data() {
    return {};
  },
  computed: {
    profilePic() {
      if (this.user.avatar) return this.user.avatar;
      return "/images/default_user_image.png";
    }
  },
  methods: {
    onSelect() {
      this.$refs.file.click();
    },
    onfileSelected(event) {
      this.$store.commit(
        "updateLocalAvatar",
        URL.createObjectURL(this.$refs.file.files[0])
      );

      let n = this.$noty.info("Uploading Image", {
        timeout: false
      });

      let data = new FormData();
      data.append("avatar", this.$refs.file.files[0]);
      axios.post("api/user/image/update", data).then(r => {
        n.setType("success");
        n.setText("Done Uploading");
        n.setTimeout("2000");
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.profile-picture-container {
  margin-bottom: 15px;
  padding: 0;
  height: 0;
  padding-top: 100%;
  position: relative;
  cursor: pointer;
  img {
    border: 4px solid $primary;
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top center;
    position: absolute;
    transition: all .2s ease;
    top: 0;    
  }
  &:hover {
    .btn--upload {
      opacity: 1;
      transform: scale(0.8);
    }
    img{
      box-shadow: 0px 4px 11px rgba($color: $primary, $alpha: .5);
    }
  }
}

.btn--upload {
  position: absolute;
  top: 0;
  right: 7%;
  height: 45px;
  width: 45px;
  background: #a9cc81;
  padding: 0px;
  transition: all 0.2s ease;
  opacity: 0;
  cursor: pointer;
  border-radius: 50%;
  label {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
  }
}
button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
</style>
