<template>
  <transition enter-active-class="animated fadeIn">
    <div class="row"
         v-show="this.$root.ready">
      <div class="col-md-12">
        <div class="card zero"
             :class="{hero : ready}">
          <div class="timeline-background">
            <div class="timeline pt-4 pb-3 mx-auto"
                 v-show="ready">
              <template v-for="step in combined">
                <div class="step"
                     :class="{ 'flex-column-reverse': step.reverseColumn && step.completed }"
                     :key="step.id">
                  <div class="upper"
                       v-text="step.name" />

                  <div class="middle">
                    <i class=" fa-3x fa-fw "
                  :class="[step.completed ? 'fas fa-check-circle complete': 'far fa-circle' ]"></i>
                  </div>
                  <div class="bottom timeline-btn">
                    <a :href="step.button.link"
                       class="btn btn-primary"
                       v-if="step.button.show && !step.completed">
                      <span v-if="step.started"
                            v-text="step.button.inProgressTitle" />
                      <span v-else-if="step.button.show"
                            v-text="step.button.title" />
                    </a>
                  </div>
                </div>
              </template>

              <div class="step"
                   :class="{ 'flex-column-reverse': donations.finished }"
                   v-show="this.ready">
                <div class="upper">
                  Raise Support
                </div>
                <div class="middle">
                  <i class=" fa-3x fa-fw "
                     :class="[{ 'fas fa-check-circle complete' : donations.finished}, 
                                        {'far fa-circle' : !donations.finished } ]"></i>
                </div>
                <div class="bottom">

                </div>
              </div>
              <div class="step"
                   v-show="this.ready">
                <div class="upper">
                </div>
                <div class="plane">
                  <i class="fas fa-plane fa-3x fa-fw"></i>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
  data() {
    return {
      ready: true,
      combined: [],
      finished: null,
      steps: {
        register: {
          name: "Register for Trip",
          completed: true,
          button: {
            show: false
          },
          reverseColumn: false
        },
        detailed_reg: {
          name: "Detailed Registration",
          reverseColumn: false,
          button: {
            show: true,
            title: "Start Form",
            inProgressTitle: "Continue",
            link: "forms/detailed-registration"
          }
        },
        reg_fee: {
          name: "Registration Fee",
          reverseColumn: true,
          button: {
            show: true,
            title: "Pay Fee",
            link:
              "https://www.egsnetwork.com/gift2/?giftid=987CB98F-8E54-49C1-A741-DB61173F489F"
          }
        },
        bio_questions: {
          name: "Bio Questions",
          reverseColumn: false,
          button: {
            show: true,
            title: "Start Form",
            inProgressTitle: "Continue",
            link: "#"
          }
        },
        all_forms: {
          name: "All Forms",
          reverseColumn: true,
          button: {
            show: false
          }
        }
      }
    };
  },
  methods: {
    stepComplete() {
      let steps = this.steps;
      let stepStatus = this.stepStatus;
      let combined = this.combined;

      _.each(steps, function(step) {
        let status = _.find(stepStatus, ["name", step.name]);
        let data = _.merge(step, status);
        combined.push(data);
      });
      this.ready = true;
    }
  },

  computed: {
    ...mapState(["stepStatus"]),
    ...mapGetters(["donations"])
  },

  created() {},
  mounted() {
    this.stepComplete();
  }
};
</script>

<style lang="scss">
.zero {
  opacity: 0;
  transition: opacity 0.8s ease-in;
}

.hero {
  opacity: 1;
}
</style>
