//  Forms
.form-body {
  background: white;
  height: 100%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  padding-bottom: 1em;

}
header{
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: .1em;
    margin-bottom: .8em;
};
legend {
  font-size: 1.1rem;
};

.selectwidthauto
{
     width:auto !important;
};

.capitalize {
  text-transform: capitalize;
}