.rgm_fx-150ms {
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.rgm_fx-300ms {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}



.rgm_header-tab-container {
	background-color: #394a59;
}
.rgm_header-tab-container .container {
	position: relative;
	padding: 0;
	margin: 0 auto;
}
.rgm_header-tab-container ul {
	float: left;
	padding: 0;
	margin: 0;
}
.rgm_header-tab-title-container {
	float: left;
	padding-top: 5px;
	height: 32px;
}
@media (max-width: 480px) {
	.rgm_header-tab-title-container {
		display: none;
	}
}
.rgm_header-tab {
	font-family: 'Futura', sans-serif;
	text-transform: uppercase;
	list-style: none;
	float: left;
}
.rgm_header-tab > a {
	display: block;
	padding: 10px;
}
@media (max-width: 480px) {
	.rgm_header-tab > a {
		padding: 10px 15px;
	}
}
.rgm_header-tab > a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.rgm_header-tab-active > a,
.rgm_header-tab-active > a:hover {
	background-color: #fff;
}
.rgm_header-tab-logo {
	float: left;
	padding-right: 10px;
	width: auto;
	height: 32px;
}
.rgm_header-tab-logo:hover {
	opacity: 1;
}
@media (max-width: 480px) {
	.rgm_header-tab-logo {
		padding-right: 0;
	}
}
.rgm_header-tab-title {
	color: #fff;
	font-size: 14px;
	line-height: 14px;
}
.rgm_header-tab-active .rgm_header-tab-title {
	color: #333;
}
.rgm_header-tab-subtitle {
	color: rgba(255, 255, 255, 0.5);
	font-size: 10px;
	line-height: 10px;
}
.rgm_header-tab-active .rgm_header-tab-subtitle {
	color: #b0b0b0;
}
.rgm_header-tab-btn {
	color: #fff;
	font: 400 16px/16px 'Roboto Slab', serif;
	text-transform: capitalize;
	background-color: rgba(255, 255, 255, 0.15);
	display: block;
	position: relative;
	float: right;
	padding: 6px 15px;
	margin-top: 9px;
	outline: none;
	border: none;
	height: 34px;
}
@media (max-width: 767px) {
	.rgm_header-tab-btn {
		margin-right: 15px;
	}
}
.rgm_header-tab-btn:hover {
	color: #fff !important;
	background-color: rgba(255, 255, 255, 0.3);
}
.rgm_header-tab-btn.active,
.rgm_header-tab-btn.active:focus,
.rgm_header-tab-btn.active:hover {
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: none !important;
}
.rgm_header-tab-btn.active {
	padding-right: 49px;
}
.rgm_header-tab-btn > .fa {
	margin-right: 10px;
}
@media (max-width: 767px) {
	.rgm_header-tab-btn > .fa {
		margin-right: 0;
	}
}
.rgm_header-tab-btn > span {
	display: inline-block;
}
.rgm_header-login-close {
	line-height: 34px !important;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.15);
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 !important;
	width: 34px;
	height: 34px;
}




.rgm_header-login-container {
	background-color: #fff;
	display: none;
	position: absolute;
	top: 48px;
	right: 0;
	z-index: 101;
	padding: 15px;
	width: 210px;
	min-height: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.rgm_header-login-container:before {
	content: '';
	position: absolute;
	top: -16px;
	right: 10px;
	border-top: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	border-left: 8px solid transparent;
}
@media (max-width: 767px) {
	.rgm_header-login-container {
		right: 15px;
	}
}
.rgm_header-login-form {
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.rgm_header-login-input.form-control {
	font-size: 13px !important;
	padding: 3px 10px !important;
	margin: 0 0 10px !important;
	width: 100% !important;
	border: 1px solid #e5e5e5 !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	box-sizing: border-box;
}
.rgm_header-login-input.form-control:focus {
	border-color: #b0b0b0 !important;
}
.rgm_header-input-submit.btn.btn-primary {
	font-size: 13px;
	position: relative;
    top: 0;
    left: 0;
    padding: 5px 15px;
    margin: 0 !important;
}
/*.rgm_header-login-lost-password {
	color: #b0b0b0;
	font-size: 10px;
	text-align: center;
	text-decoration: underline;
	display: block;
	margin: 10px auto 0;
}
.rgm_header-login-lost-password:focus,
.rgm_header-login-lost-password:hover {
	color: #888;
	text-decoration: underline;
}*/
.rgm_header-login-title {
	color: #333;
	font: 700 14px/1.1 'Roboto Slab', serif;
	text-align: center;
	margin: 10px 0;
}
.rgm_header-login-title.no-margin-top {
	margin-top: 0;
}
.rgm_header-login-create-account {
	color: #fff !important;
	font: 400 13px/1.42857 'Futura' , sans-serif !important;
	background-color: #56c0e0 !important;
	display: block !important;
    padding: 5px 15px !important;
    margin: 5px auto 0 !important;
}
.rgm_header-login-create-account:focus,
.rgm_header-login-create-account:hover {
	background-color: #3e8ea7 !important;
}
.rgm_header-login-create-account:first-of-type {
	margin-top: 0 !important;
}


.rgm_header-forgot-password-toggle {
	display: none;
}
.rgm_forgot-password-description {
	font-size: 12px;
}





.rgm_header-container {
	padding: 15px 0 !important;
}
@media (max-width: 767px) {
	.rgm_header-container {
		padding: 0 !important;
	}
}
.rgm_header-logo {
	float: left;
	display: block;
	width: auto;
	height: 120px;
}
.rgm_header-nav {
	float: left;
	padding-top: 40px;
}
@media (max-width: 767px) {
	.rgm_header-nav {
		padding: 0;
	}
}
@media (max-width: 480px) {
	.rgm_header-nav {
		padding: 15px;
		width: 100%;
		height: 60px;
	}
}
.rgm_header-nav-list {
	list-style: none;
	padding: 0 18px;
	margin: 0;
	cursor: pointer;
}
@media (max-width: 767px) {
	.rgm_header-nav-list {
		padding: 0;
	}
}
@media (max-width: 480px) {
	.rgm_header-nav-list {
		padding: 5px 15px;
		height: 30px;
		border: 1px solid #e0e0e0;
	}
	.rgm_header-nav-list.active {
    	background-color: #fff;
    	position: relative;
    	z-index: 11;
    	padding-bottom: 15px;
    	height: auto;
    	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	}
}
.rgm_header-nav-list > li {
	float: left;
	position: relative;
	padding: 0 18px;
}
@media (max-width: 767px) {
	.rgm_header-nav-list > li {
		position: static;
		padding: 0;
	}
}
@media (max-width: 480px) {
	.rgm_header-nav-list > li {
		display: none;
	}
	.rgm_header-nav-list.active > li {
		display: block;
		padding-top: 10px;
		width: 100%;
	}
}
.rgm_header-nav-list > li > a {
	text-decoration: none !important;
}
@media (max-width: 767px) {
	.rgm_header-nav-list > li > a {
		display: block;
		position: relative;
		padding: 20px 15px;
	}
}
@media (max-width: 480px) {
	.rgm_header-nav-list > li > a {
		padding: 0;
	}
}
.rgm_header-nav-list > li.active > a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 5px;
	left: calc(50% - 8px);
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #e0e0e0;
	border-left: 8px solid transparent;
}
@media (max-width: 480px) {
	.rgm_header-nav-list > li.active > a:after {
		display: none;
	}
}
.rgm_header-nav-list > li .fa {
	color: #333;
	margin-right: 8px;
}
.rgm_header-nav-list > li:hover .fa {
	color: rgb(48, 149, 180);
}
.rgm_header-nav-title {
	color: #394a59;
	font: 400 20px/20px 'Futura', serif;
	/*font: 700 20px/20px 'Roboto', serif;*/
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
}
.rgm_header-nav-list > li:hover > a .rgm_header-nav-title,
.rgm_header-nav-list > li > a:hover .rgm_header-nav-title {
 	color: rgb(48, 149, 180);
}
@media (max-width: 991px) {
	.rgm_header-nav-title {
		font-size: 18px;
	}
}
@media (max-width: 480px) {
	.rgm_header-nav-title {
		font-size: 14px;
		font-weight: 400;
	}
}
.rgm_header-nav-subtitle {
	color: #b0b0b0;
	padding-bottom: 10px;
}
.rgm_header-nav-list > li:hover > a .rgm_header-nav-subtitle,
.rgm_header-nav-list > li > a:hover .rgm_header-nav-subtitle {
	color: #888;
}

.sub-menu,
.rgm_header-nav-dropdown { /* <- delete this line */
	background-color: #fff;
	list-style: none;
	display: none;
	position: absolute;
	left: 0;
	z-index: 11;
	padding: 0;
	width: 180px;
	border-top: 3px solid #e0e0e0;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
	.sub-menu,
	.rgm_header-nav-dropdown { /* <- delete this line */
		left: 5%;
		width: 90%;
	}
}
@media (max-width: 480px) {
	.rgm_header-nav-list.active .sub-menu,
	.rgm_header-nav-list.active .rgm_header-nav-dropdown { /* <- delete this line */
		position: relative;
    	width: 100%;
    	left: 0px;
    	margin: 5px 0;
    	border: 1px solid #e0e0e0;
    	box-shadow: none;
	}
}
/*.rgm_header-nav-dropdown:before {
	content: '';
	position: absolute;
	top: -23px;
	left: 5px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #e0e0e0;
	border-left: 10px solid transparent;
}*/
.sub-menu > li > a,
.rgm_header-nav-dropdown-item > a { /* <- delete this line */
	font-size: 13px;
	display: block;
	float: none;
	padding: 8px 15px;
	width: 100%;
	border-top: 1px solid #f0f0f0;
}
.sub-menu > li:first-of-type > a,
.rgm_header-nav-dropdown-item:first-of-type > a { /* <- delete this line */
	border-top: none;
}
.sub-menu > li > a:hover,
.rgm_header-nav-dropdown-item > a:hover { /* <- delete this line */
	background-color: #f5f5f5;
}
@media (max-width: 480px) {
	.sub-menu > li > a,
	.rgm_header-nav-dropdown-item > a { /* <- delete this line */
		font-size: 12px;
	}
}

.rgm_header-nav-mobile {
	font-family: 'Futura', sans-serif;
	line-height: 20px;
	text-transform: uppercase;
}
@media (min-width: 481px) {
	.rgm_header-nav-mobile {
		display: none;
	}
}
.rgm_header-nav-list.active .rgm_header-nav-mobile {
	padding-bottom: 5px;
	margin-bottom: 5px;
    border-bottom: 2px solid #f0f0f0;
}
.rgm_header-nav-mobile .fa-bars {
    line-height: 18px;
    float: left;
    display: block;
    margin-right: 10px;
}
.rgm_header-nav-mobile .fa-caret-down {
	line-height: 18px;
	float: right;
	display: block;
}



.rgm_header-register-container {
	position: relative;
	z-index: 1;
	padding: 10px 0;
	/*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);*/
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}
.rgm_header-register-container:before {
	content: '';
	background-size: cover;
	/*background-color: #3095b4;*/
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center center;
    /*-webkit-filter: grayscale(100%);
    filter: gray;*/
    position: absolute;
    top: 0;
    z-index: -1;
    /*opacity: 0.5;*/
    width: 100%;
	height: 100%;
}
.rgm_header-register-container:after {
	content: '';
	/*background-color: rgba(48, 149, 180, 0.7);*/
	background-color: #FFFFFF;
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}
.rgm_header-register-container > .container {
	padding: 0;
}
@media (max-width: 767px) {
	.rgm_header-register-container > .container {
		padding: 0 15px;
	}
}
.rgm_header-register-text {
	color: #676a6f;
	font: 400 20px/34px 'Roboto Slab', serif;
	/*text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
	margin: 0;
}
@media (max-width: 767px) {
	.rgm_header-register-text {
		font-size: 16px;
		width: inherit !important;
	}
}
.rgm_header-register-btn {
    color: #fff;
    font: 400 18px/22px 'Roboto Slab', serif;
    background-color: #dc5034;
    padding: 6px 24px;
    margin-left: 15px;
    border: none;
    box-shadow: -5px 5px 0 rgba(255, 255, 255, 0.3);
}
.rgm_header-register-btn:focus,
.rgm_header-register-btn:hover {
	color: #fff;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8);
}
@media (max-width: 767px) {
	.rgm_header-register-btn {
		font-size: 16px;
	}
}
.rgm_header-login-status,
.rgm_header-forgot-password-status {
	font: 400 13px/1.1 'Roboto Slab', serif;
    text-align: center;
    display: none;
    padding: 10px 15px;
    margin: 10px 0 0 0;
}
.rgm_header-login-processing-icon {
	color: #d0d0d0;
	margin-left: 10px;
}


.rgm_header-login-link,
.rgm_header-login-lost-password,
.rgm_header-logout-link {
	color: #b0b0b0;
	font: 300 12px/12px 'Roboto Slab', serif;
	text-align: center;
	text-decoration: underline;
	display: block;
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #f0f0f0;
}
.rgm_header-login-link:focus,
.rgm_header-login-link:hover,
.rgm_header-login-lost-password:focus,
.rgm_header-login-lost-password:hover,
.rgm_header-logout-link:focus,
.rgm_header-logout-link:hover {
	color: #505050;
	text-decoration: underline;
}



.page-template-template-kairos-home-php header, .page-template-template-kairos-default-php header, .page-template-template-kairos-fullwidth-php header, .page-template-template-kairos-news-php header, .single-kairos header, .single-staff header,
.page-template-template-royal-servants-home-php header, .page-template-template-royal-servants-default-php header, .single-royalservants header, .page-template-template-royal-servants-fullwidth-php header, .page-template-template-royal-servants-news-php header, .page-template-template-reign-login-php header, .single-staff header {
	padding-top: 0 !important;
}