
// Body
$body-bg: #E5E5E5;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #607D8B;
$secondary: #A9CC81;
$alert:#FD8167;
$warning: #F4511C;

// Border Tools
.border1 {
  border: 1px solid red;
}

.border2 {
  border: 1px solid green;
}

$amount: 10%;
