// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
// Bourbon and Bourbon Neat
@import "~bourbon/core/bourbon";
// Noty notifications css
@import '~vuejs-noty/dist/vuejs-noty.css';


//slideout
@import "slideout";

// App Parts
@import "forms";

:root {
  font-size: 15px;

  @include media-breakpoint-down(sm) {
    font-size: 19px;
  }
}

[v-cloak] > * {
  display: none;
}

html {
  position: relative;
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  color: $primary;
}

h1 {
  color: white;
  margin: auto 0;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  padding-bottom: 0px;
}

h2 {
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

h3 {
  color: white;
  font-weight: 300;
  margin: 0;
}

h4 {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 0px;
}

h5 {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 0px;
}

table {
  color: $primary;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

label {
  color: $primary;
  font-weight: 700;
}

.top-padding {
  padding-top: 2em;
}

.dropdown-item {
  &:hover {
    background: lightgray;
  }
}

.card-body {
  color: $primary;
}

// Size Variables
$header-height: 49px;
$sidebar-width: 210px;

#panel {
  min-height: 100vh;
  background: $body-bg;
  box-shadow: -4px 0px 20px rgba(0, 0, 0, 0.19);

  @include media-breakpoint-up(md) {
    z-index: 0;
    padding-left: $sidebar-width;
    box-shadow: none;
  }
}

// ----------------Header--------------

.header {
  position: relative;
  background: #475159;
  height: $header-height;
  width: 100%;
  z-index: 5;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;

  @include media-breakpoint-down(sm) {
    position: fixed;
  }
}

// ---User Account in Header
.user-account-header {
  padding: 0 10px;
  position: absolute;
  right: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #626c73;
  height: 100%;
  width: 170px;
  transition: all 0.1s ease-in;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;

  &:hover {
    background: lighten(#626c73, $amount: 20%);
    text-decoration: none;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.rotate90 {
  transform: rotate(-90deg);
}

$user-image-circle: calc(#{$header-height} * 0.75);

.user-image {
  overflow: hidden;
  margin-right: 5px;
  background: white;
  height: $user-image-circle;
  border-radius: 50%;
  width: $user-image-circle;
  object-fit: cover;
  object-position: 0 0;
}

// ---end of user account in header

// --------------------------------------------end of header

// ----------------------Side Bar Menu ------------------------
.toggle-button {
  position: inherit;
  top: 0px;
  left: 20px;
  color: $body-bg;
  text-decoration: none;
  font-size: 1.8rem;
  z-index: 5;
  transition: all 0.5s ease;
}

.sidebar {
  background: #607d8b;
  width: $sidebar-width;
  min-height: 100%;

  @include media-breakpoint-up(md) {
    position: relative;
    top: 0;
    min-height: 100%;
  }
}

.sidebar-container {
  color: white;

  @include media-breakpoint-up(md) {
    padding-top: 3em;
  }
}

.trip-title {
  margin-top: 25px;
  padding-bottom: 25px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  letter-spacing: 0.05em;
  text-align: right;

  @include media-breakpoint-down(sm) {
    margin-top: 6em;
  }
}

.sidebar-menu {
  font-weight: bold;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.4rem;

  @include media-breakpoint-down(sm) {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    padding-left: 0.5em;
  }

  .title {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.17em;
    padding-bottom: 4px;
    margin-left: -0em;
  }

  ul {
    margin-bottom: 15px;
  }

  li {
    font-size: 0.6em;
    font-weight: 400;
    margin-bottom: 4px;
    letter-spacing: 0.07em;
    vertical-align: middle;
  }

  .icon-padding {
    padding-right: 0.59em;
  }

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);

    @include media-breakpoint-down(sm) {
      color: white;
    }
  }

  a:hover {
    // color:#1E2124;
    color: rgba(255, 255, 255, 1);
  }

  .mobile-hide {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

// Mobile styling for sidebar
@include media-breakpoint-up(md) {
  .slideout-menu {
    position: absolute;
    overflow: hidden;
    display: block;
  }

  .toggle-button {
    display: none;
  }
}

.mobile-logout {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 1.3rem;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4vh;

  button {
    color: inherit;
    font-size: inherit;
    text-transform: inherit;
    font-weight: inherit;
    padding: 0;
    margin: 0;

    &:focus {
      background: lighten($primary, 10%);
    }
  }

  a {
    text-align: center;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

// -----------------end of sidebar menu

// ----------------------main-----------------

.main {
  max-width: 1200px;
  min-height: 100%;
  margin: auto;
  transition: all 0.5s ease;
  order: 1;
  padding-top: 10px;
}

.timeline-background {
  background-image: url("/images/timeline-background.svg");
  background-repeat: no-repeat;
  background-position-y: 52%;
  background-position-x: 6px;
  background-size: contain;
  min-height: 180px;

  @include media-breakpoint-down(md) {
    min-height: none;
    background-image: none;
  }

  &:before {
    position: absolute;
    z-index: 2;
    content: " ";
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    width: 5.6vw;
    height: 50px;

    @include media-breakpoint-down(md) {
      display: none;
    }

    @media screen and (min-width: 2000px) {
      width: 115px;
    }
  }
}

// -----Timeline
.timeline {
  width: 98%;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 700;
  color: $primary;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    text-align: left;
  }

  .step {
    // padding: 0 .5em;
    position: relative;
    min-height: 3.4em;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      flex-direction: row;
    }

    @media only screen and (max-width: 1100px) {
      min-height: 4.89em;
    }

    @media only screen and (max-width: 1002px) {
      min-height: 0;
    }
  }

  .upper {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: inherit;

    @include media-breakpoint-down(md) {
      order: 1;
      padding-left: 0.9em;
    }
  }

  .middle {
    z-index: 2;
    padding: 0.3em 0;

    @include media-breakpoint-down(md) {
      order: 0;
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      background: white;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      z-index: -1;

      @include media-breakpoint-down(md) {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }

  .bottom {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(md) {
      padding-left: 0.9em;
    }
  }

  .plane {
    position: relative;
    left: 0px;
    z-index: 2;
    padding: 0.3em 0;
    text-align: left;

    svg {
      left: 0;
      color: $secondary;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.complete {
  color: $secondary;
}

.timeline-btn {
  z-index: 3;

  @include media-breakpoint-down(md) {
    order: 3;
    margin-left: auto;
  }
}

// --- end of Timeline

// --------Card Sections--------

.card {
  margin-bottom: 25px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  text-align: left;
  color: white;
  border: none;

  .title {
    align-self: center;

    h3 {
      font-size: 1.7rem;
      margin: 0px;
      padding: 0px;
    }
  }

  h4 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
  }

  p {
    color: #6e818b;
  }

  .card-body {
    padding: 1em 0.7em;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  background: $primary;
  padding: 0 0.7em;
  min-height: 3.6rem;
}

// -----Support Card------
.progress {
  position: relative;
  height: 30px;
  margin-bottom: 10px;
  letter-spacing: 0.13em;
}

.progress-counter {
  h3 {
    font-size: 1.3rem;
    text-align: right;
    padding-right: 0.3em;
    font-weight: 400;
  }
}

.progress-counter_right {
  h3 {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;

    color: $primary;
  }
}

.progress-bar {
  height: auto;
}

.recent-donations {
  position: relative;
  color: $primary;

  h4 {
    color: inherit;
    font-weight: 400;
    text-transform: uppercase;
  }

  th {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

.raised-title {
  text-transform: uppercase;

  h5 {
    font-weight: 400;
    font-size: 1.3rem;
  }
}

// ---Cost Break Down Section------
.cost-breakdown {
  @include media-breakpoint-down(sm) {
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 300;
  }
}

.cost-breakdown-table {
  // width: 70%;
  width: 100%;
  margin: atuo;

  tbody {
    // border-right: 2px solid $primary;
    th {
      text-align: right;
    }

    td {
      text-align: left;
    }
  }

  tfoot {
    border-top: 3px solid $primary;
    font-size: 1.2em;

    th {
      text-align: right;
    }
  }
}

// ---end of Cost Break Down Section------

// -----All Support -----
.support-table {
  @include media-breakpoint-down(sm) {
    font-size: 1.2rem;
  }

  // font-weight: 400;
}

.reference-number-col {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

// -----end ofAll Support -----

// -------end of Support Card-------

// -------Form Card-----------

.form-status-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  margin-bottom: 1em;
  overflow: hidden;

  svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.form-background {
  @include media-breakpoint-up(md) {
    &:nth-child(4n + 1) {
      background: $secondary;
      color: $secondary;
    }

    &:nth-child(4n + 2) {
      background: $primary;
      color: $primary;
    }

    &:nth-child(4n + 4) {
      background: $secondary;
      color: $secondary;
    }

    &:nth-child(4n + 3) {
      background: $primary;
      color: $primary;
    }
  }

  @include media-breakpoint-down(md) {
    &:nth-child(odd) {
      background: $secondary;
      color: $secondary;
    }

    &:nth-child(even) {
      background: $primary;
      color: $primary;
    }
  }
}

.form-title {
  padding-top: 0.2em;
  text-align: right;
  margin-right: 0.8em;

  h2 {
    padding-top: 0.2em;
    font-size: 0.99rem;
    font-weight: 700;
  }

  p {
    padding: 0px;
    padding-bottom: 0.2em;
    margin: 0px;
    font-weight: 300;
    color: white;
  }
}

.form-status-icon {
  position: relative;
  padding-top: 0.2em;
  height: 100%;
  background: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  align-self: center;
}

.form-alert {
  background: $alert;

  p {
    color: white;
  }

  i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: $alert;
  }
}

// -------end of Form Card

// ------Form Error Section
.form-card-error {
  // display: none;
  color: white;

  .title {
    background: $alert;

    h2 {
      padding-left: 0.34em;
      font-size: 1.3rem;
    }
  }

  .error-body {
    background: $alert;

    h3 {
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 0.019em;
      padding-bottom: 0.1em;
    }

    p {
      color: inherit;
      padding-left: 0.8em;
    }
  }
}

.form-sidebar {
  background: none;
}

// -=----end of Form Error Section

// -------end of Card Sections

// --------end of Form
