<template>
<div>
    <div class="col-lg-8 mx-auto form-body">
        <section>
            <header>Detailed Registration</header>
        </section>

        <page1
            :tripYear="tripYear"
            v-on:pageValidated="nextPage()"
            v-if="page === 1 || page === 0"
            v-on:ittime="nextPage()"
        />
        <page2 
            :trips="trips"
            :form="form"
            :role="role"
            :loaded="loaded"
            v-if="page === 2 ||page === 0"
            v-on:pageValidated="nextPage()"
            v-on:back="page --"
        />
    </div>
       


</div>
</template>


<script>
import page1 from "./Page1";
import page2 from "./Page2";


export default {
  components: {
    page1,
    page2
  },

  props: ["tripYear", "user"],

  data() {
    return {
      page: 1,
      maxPage: 2,
      form: {},
      trips: [],
      role: [],
      over13: null,
      loaded: false,
      changed: false
    };
  },


  methods: {
    nextPage() {
      /**
       * TODO::Have it only submit request if data has changed.
       * TODO::Loading button while waiting for submit
       * TODO::toastr notficication on the bottom
       */
      let page_finished = this.page;
      /**
       * Checks to see if the page is the last page of the form if it isn't it increments the page in the payload
       * so that when the user returns the correct page is loaded
       */
      if(page_finished < this.maxPage) page_finished + 1;

      axios
        .post("/forms/detailed-registration/store", {form: this.$data.form, current_page: page_finished })
        .then(() => {
          if (this.page >= this.maxPage) return;
          this.page++;
          
        });
    },

    thirteenCheck() {
      return this.tripYear - 13;
    }
  },

  beforeCreate() {
    axios.get("/trips/current/names").then(response => {
      this.trips = response.data;
    });
    axios.get("/forms/detailed-registration/answers").then(response => {
      (this.form = response.data),
        (this.page = response.data.current_page),
        (this.loaded = true);
    });
  }
};
</script>
