<template>
    <div>
        <form>
            <div class="form-group">
                <legend>I was born before June {{ thirteenCheck() }}</legend>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="ageCheckYes" name="ageCheck" class="custom-control-input" v-model="over13" :value=true v-validate="'required'">
                    <label class="custom-control-label" for="ageCheckYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="ageCheckNo" name="ageCheck" class="custom-control-input" v-model="over13" :value=false>
                    <label class="custom-control-label" for="ageCheckNo">No</label>
                </div>
            </div>

            <!-- TODO:: Connect this option up -->
            <div class="form-group">
                <legend>What year are you applying for?</legend>
                <select class="custom-select col-md-3" v-validate="'required'" name="whatYear">
                    <option value="1" selected>{{ this.tripYear }}</option>
                    <option value="2">{{ this.tripYear + 1 }}</option>
                    <option value="3">{{ this.tripYear + 2 }} or later</option>
                </select>
            </div>
        </form>
        <div class="col-lg-12 mx-auto pt-4" v-if="over13 || over13 != null">
            <card-component v-if="! over13">
                <template slot="title">Excited to have you!</template>
                <p>We are so excited that you are interested in applying to go on a mission trip with Royal Servants | Reign
                    Ministries, in order to go this year you must be 13 years old by June 1st, of this year. If you are 12
                    now but turning 13 before June 1st, you can still go! Please email royalservants@reignministries.org
                    and an application will be emailed to you. You must print and fill out this application and return it
                    to our office to be considered for one of our 2018 trips. Reign Ministries Attn: Royal Servants 5401
                    WEST BROADWAY AVENUE MINNEAPOLIS, MN 55428 We can’t wait to have you travel with us this summer.</p>
            </card-component>
        </div>
        <div class="row" v-if="over13">
            <div class="col-lg-11">
                <hr/>
                <button class="btn btn-primary float-right ml-2" v-on:click.prevent="moveAlong">Next</button>

            </div>
        </div>
    </div>
</template>



<script>
export default {
  props: ["tripYear", 'over13'],

  data() {
    return {
    };
  },

  methods: {
    thirteenCheck() {
      return this.tripYear - 13;
    },
    moveAlong() {
      this.$emit("ittime");
    }
  }
};
</script>