<template>
    <form class="container-fluid">
            
            <!-- Alumni Check -->
            <div class="form-group">
                <legend>Have you been on a Royal Servants | Reign Ministries trip before?</legend>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="alumniYes" name="alumni" class="custom-control-input" v-model="form.alumni" :value=1 v-validate="'required'">
                    <label class="custom-control-label" for="alumniYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="alumniNo" name="alumni" class="custom-control-input" v-model="form.alumni" :value=0>
                    <label class="custom-control-label" for="alumniNo">No</label>
                </div>
            </div>
            <!-- Trip Selection -->
            <div class="form-group">
                <legend>What trip are you registerting for? (1st Choice)</legend>
                <select class="custom-select col-md-4" :disabled="!loaded" v-model="form.trip_preference_1" v-validate="'required'" name="1st Trip Choice" >
                <option v-for="trip in firstTripOptions" :value="trip" :key="trip.key">{{ trip.name }}</option>     
            </select>
                <small class="form-text text-muted col-md-9">Note: This is your trip preference. If this trip is full at the time of application, we can transfer your application to another trip of your choice.</small>
            </div>

            <div class="form-group">
                <legend>What trip are you registerting for? (2nd Choice)</legend>
                <select class="custom-select col-md-4" :disabled="!loaded" v-model="form.trip_preference_2" v-validate="'required'" name="2nd Trip Choice">
                  <option v-for="trip in secondTripOptions" :value="trip" :key="trip.key">{{ trip.name }}</option>                
                </select>
            </div>
            <!-- Position Selection -->
             <div class="form-group">
                <legend>What position are you applying for?</legend>

                <div class="custom-control custom-radio">
                    <input type="radio" id="positionStudent" name="position" class="custom-control-input" :value="{id: 2, name: 'Student'}" v-model="role" v-validate="'required'" >
                    <label class="custom-control-label" for="positionStudent">Student (Age 13-18)</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="positionStaffDiscipler" name="position" class="custom-control-input" :value="{id: 3, name: 'Staff'}" v-model="role">
                    <label class="custom-control-label" for="positionStaffDiscipler">Staff Discipler (Age 19+)</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="positionAssistant" name="position" class="custom-control-input" :value="{id: 4, name: 'Assistant'}" v-model="role">
                    <label class="custom-control-label" for="positionAssistant">Assistant</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="positionNanny" name="position" class="custom-control-input" :value="{id: 5, name: 'Nanny'}" v-model="role">
                    <label class="custom-control-label" for="positionNanny">Nanny</label>
                </div>
            </div>

            <!-- Assistant Verification Code Section -->
            <div class="form-group col-md-4" v-if="roleVerification()">
                <label for="assistantVerification">Enter {{ role.name }} Verification Code</label>
                <input class="form-control" id="assistantVerification" v-validate="'required:true|alpha'" name="verification field">
            </div>

        <div class="row" v-if="errors.any()">
            <div>{{errors.all()}}</div>
        </div>
          <div class="row">
            <div class="col-lg-11">
                <hr/>
                <button class="btn btn-primary float-right ml-2" v-on:click.prevent="validatePage" :disabled="errors.any()" >Next</button>
                <button class="btn btn-primary float-right ml-2" v-on:click.prevent="back()">Back</button>
            </div>
        </div>

        

        </form>
</template>
<script>
export default {
  props: ["trips", "loaded", "form", "role"],

  data() {
    return {};
  },

  watch: {
    role: function(newRole, oldRole) {
      console.log("what up Ive been watched");
    }
  },
  computed: {
    secondTripOptions() {
      var secondTrip = [];
      var allTrips = _.concat(secondTrip, this.trips);
      var secondOptions = _.pull(allTrips, this.form.trip_preference_1);
      return secondOptions;
    },
    firstTripOptions() {
      var firstTrip = [];
      var allTrips = _.concat(firstTrip, this.trips);
      var firstOptions = _.pull(allTrips, this.form.trip_preference_2);
      return firstOptions;
    }
  },
  methods: {
    roleVerification() {
      if (this.role.name === "Assistant" || this.role.name === "Nanny")
        return true;
    },

    validatePage() {
      this.$validator.validate();
      setTimeout(() => {
        if (this.errors.any()) return;
        this.$emit("pageValidated");
      }, 0);
    },
    back() {
      this.$emit("back");
    }
  }
};
</script>
